{{extend 'top-nav.html'}}
<br>
<div class="row">
  {{for post in posts[0]:}}
    {{n_comments = 0}}
    {{for c in comentarios:}}
      {{if c.id == post.post.id:}}
        {{n_comments += 1}}
      {{pass}}
    {{pass}}
    <div class="box box-widget collapsed-box">
      <div class="box-header with-border">
        <div class="user-block">
          <a href="{{=URL('perfil', vars={'user_id':post.post.created_by.id})}}">
            <img class="img-circle" src="{{=URL('default', 'download', args=post.post.created_by.avatar)}}" alt="{{=post.post.created_by.nome}}">
          </a>
          <span class="username">
            <a href="{{=URL('perfil', vars={'user_id':post.post.created_by.id})}}">
            {{="%(first_name)s %(last_name)s" %post.post.created_by}}
            </a>
            {{=T('digou')}}:
            <a href="{{=URL('default', 'post', args=post.post.id)}}">{{=post.post.titulo}}</a>
          </span>
          <span class="description">
            {{=prettydate(post.post.created_on)}}&emsp;
            postado em: <a href="{{=URL('com', 'c', vars={'c_id':post.comunidades.id})}}">{{=post.comunidades.nome}}</a>
          </span>
          <a class=pull-right href="{{=URL('default', 'post', args=post.post.id)}}">{{=n_comments}} comentários</a>
        </div><!-- /.user-block -->
        <div class="box-tools">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
          {{if auth.is_logged_in() and post.post.created_by == auth.user_id:}}
            <a href="{{=URL('default', 'deleta_post', vars={'post':post.post.id, 'page':'timeline'})}}" class="btn btn-box-tool delete"><i class="fa fa-times"></i></a>
          {{pass}}
        </div><!-- /.box-tools -->
      </div><!-- /.box-header -->
      <div class="box-body">
        <!-- post text -->
        {{=DIV(MARKMIN(post.post.corpo), _class='post-body')}} </br>
      </div><!-- /.box-body -->
      <div class="box-footer">
        <!-- Social sharing buttons -->
        <p>{{=LOAD('default', 'curtir.load', vars={'id':post.post.id, 'voto':'legal'}, ajax=True)}}</p>
      </div>
    </div><!-- /.box -->
  {{pass}}
</div>

<div class="pager">
  {{if int(request.vars.pagina) != 1:}}
    <a href="{{=URL('default', 'timeline', args=request.args, vars={'pagina':int(request.vars.pagina)-1})}}">❮ Anterior</a>&emsp;
  {{pass}}
  {{if int(request.vars.pagina) < posts[2]/10.0:}}
    <a href="{{=URL('default', 'timeline', args=request.args, vars={'pagina':int(request.vars.pagina)+1})}}">Próxima ❯</a>&emsp;
  {{pass}}
</div>

</div>
