{{extend 'top-nav.html'}}

{{=form}}
<br>
<hr>
<h2>Ajuda de formatação</h2>
<table>
  <thead>
    <tr class="first"><td><strong>CÓDIGO</strong></td><td><strong>SAÍDA</strong></td></tr>
  </thead>
  <tbody>
    <tr class="first">
      <td><code># título</code></td><td><strong>título</strong></td>
    </tr>
    <tr class="even">
      <td><code>## section</code></td><td><strong>section</strong></td>
    </tr>
    <tr>
      <td><code>### subsection</code></td><td><strong>subsection</strong></td>
    </tr>
    <tr class="even">
      <td><code>**negrito**</code></td><td><strong>negrito</strong></td>
    </tr>
    <tr>
      <td><code>''itálico''</code></td><td><em>itálico</em></td>
    </tr>
    <tr class="even">
      <td><code>~~riscado~~</code></td><td><del>riscado</del></td>
    </tr>
    <tr>
      <td><code>``verbatim``</code></td><td><code>verbatim</code></td>
    </tr>
    <tr class="even">
      <td><code>``colorido com **negrito**``:red</code></td><td><span style="color: red">colorido com <strong>negrito</strong></span></td>
    </tr>
    <tr>
      <td><code>``many colors``:color[blue:#ffff00]</code></td><td><span style="color: blue;background-color: #ffff00;">many colors</span></td>
    </tr>
    <tr class="even">
      <td><code>http://google.com</code></td><td><a href="http://google.com">http://google.com</a></td>
    </tr>
    <tr>
      <td><code>[[**click** me #meulink]]</code></td><td><a href="#markmin_myanchor"><strong>click</strong> me</a></td>
    </tr>
    <tr class="even">
      <td><code>[[click me [mensagem] #meulink popup]]</code></td><td><a href="#markmin_myanchor" title="mensagem" target="_blank">click me</a></td>
    </tr>
  </tbody>
</table>
<h3>Adicionar imagem:</h3>
<p>[[descrição http://.../image.png right 200px]]</p>
<h3>Adicionar vídeo:</h3>
<p>embed:http://www.youtube.com/embed/x1w8hKTJ2Co</p>
<h3>Adicionado um QR Code:</h3>
<p>qr:http://www.google.com</p>



<!-- <script src="{{=URL('static', 'juventude/bower_components/ckeditor/ckeditor.js')}}"></script>
<script>
  $(function () {
    // Replace the <textarea id="post_corpo"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace('post_corpo')
    //bootstrap WYSIHTML5 - text editor
    // $('.post_corpo').wysihtml5()
  })
</script> -->
