{{#left_sidebar_enabled=True}}
{{extend 'top-nav.html'}}

<section class="content">
  <div class="row">
    <div class="col-md-3">

      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive" src="{{=URL('download', args=user[0].avatar)}}" alt="User Avatar">

          <h3 class="profile-username text-center">{{="%(first_name)s %(last_name)s" %user[0]}}</h3>

          <!-- <p class="text-muted text-center">Software Engineer</p> -->

          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Pontuação</b> <a class="pull-right">1,0</a>
            </li>
            <li class="list-group-item">
              <b>Postagens</b> <a class="pull-right">{{=myposts[2]}}</a>
            </li>
            <li class="list-group-item">
              <b>Ajuntamentos</b> <a class="pull-right">{{=amigos}}</a>
            </li>
          </ul>

          <!-- <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
          {{=add_amigo}}
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

      <!-- About Me Box -->
      <!-- <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">About Me</h3>
        </div>
        <div class="box-body">
          <strong><i class="fa fa-book margin-r-5"></i> Education</strong>

          <p class="text-muted">
            B.S. in Computer Science from the University of Tennessee at Knoxville
          </p>

          <hr>

          <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

          <p class="text-muted">Malibu, California</p>

          <hr>

          <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

          <p>
            <span class="label label-danger">UI Design</span>
            <span class="label label-success">Coding</span>
            <span class="label label-info">Javascript</span>
            <span class="label label-warning">PHP</span>
            <span class="label label-primary">Node.js</span>
          </p>

          <hr>

          <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
        </div>
      </div> / .box-->
    </div><!-- /.col -->

    <div class="col-md-9">
      {{for post in myposts[0]:}}
      {{n_comments = 0}}
      {{for c in comentarios:}}
        {{if c.id == post.id:}}
          {{n_comments += 1}}
        {{pass}}
      {{pass}}
      <div class="box box-widget collapsed-box">
        <div class="box-header with-border">
          <div class="user-block">
              <img class="img-circle" src="{{=URL('default', 'download', args=post.created_by.avatar)}}" alt="{{=post.created_by.nome}}">
              <span class="username">{{=post.created_by.first_name}} {{=T('digou')}}: {{=post.titulo}}</span>
            <span class="description">
              {{=prettydate(post.created_on)}}&emsp;
              postado em: <a href="{{=URL('com', 'c', vars={'c_id':post.comunidade})}}">{{=post.comunidade.nome}}</a>
            </span>
            <a class=pull-right href="{{=URL('default', 'post', args=post.id)}}">{{=n_comments}} comentários</a>
          </div><!-- /.user-block -->
          <div class="box-tools">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
            {{if auth.is_logged_in() and post.created_by == auth.user_id:}}
              <a href="{{=URL('default', 'deleta_post', vars={'post':post.id, 'page':'timeline'})}}" class="btn btn-box-tool delete"><i class="fa fa-times"></i></a>
            {{pass}}
          </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body">
          <!-- post text -->
          {{=DIV(XML(post.corpo), _class='post-body')}} </br>
        </div><!-- /.box-body -->
        <div class="box-footer">
          <!-- Social sharing buttons -->
          <p>{{=LOAD('default', 'curtir.load', vars={'id':post.id, 'voto':'legal'}, ajax=True)}}</p>
        </div>
      </div><!-- /.box -->
      {{pass}}
    </div><!-- /.col -->
</div><!-- /.row -->
</section>

<div class="pager">
  {{if int(request.vars.pagina) != 1:}}
    <a href="{{=URL('default', 'perfil', args=request.args, vars={'pagina':int(request.vars.pagina)-1})}}">❮ Anterior</a>&emsp;
  {{pass}}
  {{if int(request.vars.pagina) < myposts[2]/10.0:}}
    <a href="{{=URL('default', 'perfil', args=request.args, vars={'pagina':int(request.vars.pagina)+1})}}">Próxima ❯</a>&emsp;
  {{pass}}
</div>
