{{extend 'layout.html'}}
<div class="container">
<div class="">
    <h3>{{="%(first_name)s %(last_name)s" %user[0]}}</h3>
    <img class="responsive-img imagem-perfil" src="{{=URL('download', args=user[0].avatar)}}" alt="" />
    {{if user[0].id != auth.user_id:}}
        {{=add_amigo}}
    {{pass}}
</div>
<br>
{{for post in myposts:}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <img class='avatar responsive-img' src="{{=URL('download', args=post.created_by.avatar) or URL('static', 'images/morrodobau.jpg')}}" alt="{{=post.created_by.nome}}" />
            <a href="{{=URL('perfil', vars={'user_id':post.created_by.id})}}">{{=post.created_by.first_name}}</a> digou:
        </div>
        <div class="panel-body">
            <p>{{=post.corpo}}</p><br>
            <small>{{=prettydate(post.created_on)}}</small><!-- Data formatada-->
        </div>
    </div>
{{pass}}
</div>
