{{extend 'top-nav.html'}}
<br>
<!-- Box Comment -->
<div class="box box-widget">
  <div class="box-header with-border">
    <div class="user-block">
      <a href="{{=URL('perfil', vars={'user_id':post.created_by.id})}}">
        <img class="img-circle" src="{{=URL('download', args=post.created_by.avatar)}}" alt="{{=post.created_by.nome}}">
      </a>
      <span class="username">
        <a href="{{=URL('perfil', vars={'user_id':post.created_by.id})}}">{{="%(first_name)s %(last_name)s" %post.created_by}}</a> {{=T('digou')}}: {{=post.titulo}}
      </span>
      <span class="description">
        {{=prettydate(post.created_on)}}&emsp;
        postado em: <a href="{{=URL('com', 'c', vars={'c_id':post.comunidade.id})}}">{{=post.comunidade.nome}}</a>
      </span>
    </div>
    <!-- /.user-block -->
    <div class="box-tools">
      <!--Cabeçalho lado direito  -->
    </div>
    <!-- /.box-tools -->
    <div class="box-tools">
      {{if auth.is_logged_in() and post.created_by == auth.user_id:}}
        <a href="{{=URL('default', 'deleta_post', vars={'post':post.id, 'page':'timeline'})}}" class="btn btn-box-tool delete"><i class="fa fa-times"></i></a>
      {{pass}}
    </div><!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <!-- post text -->
    {{=DIV(MARKMIN(post.corpo), _class='post-body')}} </br>
    <hr>
    <!-- Social sharing buttons -->
    <p>{{=LOAD('default', 'curtir.load', vars={'id':post.id, 'voto':'legal'}, ajax=True)}}</p>
  </div>
  <!-- /.box-body -->
  {{for comment in comments:}}
  <div class="box-footer box-comments">
    <div class="box-comment">
      <!-- User image -->
      <a href="{{=URL('perfil', vars={'user_id':comment.created_by.id})}}">
        <img class="img-circle img-sm" src="{{=URL('download', args=comment.created_by.avatar)}}" alt="{{=T('User avatar')}}">
      <a/>
      <div class="comment-text">
            <span class="username">
              <a href="#">{{="%(first_name)s %(last_name)s" %comment.created_by}}</a> {{=T('digou')}}:
              <span class="text-muted pull-right">
                {{=prettydate(comment.created_on)}}
                {{if auth.is_logged_in() and comment.created_by == auth.user_id:}}
                  <a href="{{=URL('default', 'deleta_comentario', vars={'comentario':comment.id, 'post_id':post.id})}}" class="btn btn-box-tool delete"><i class="fa fa-times"></i></a>
                {{pass}}
              </span>
            </span><!-- /.username -->
        {{=DIV(MARKMIN(comment.comentario))}}
      </div>
      <!-- /.comment-text -->
    </div>
    <!-- /.box-comment -->
  </div>
  <!-- /.box-footer -->
  {{pass}}
  {{if auth.is_logged_in():}}
  <div class="box-footer">
    <form action="#" method="post">
      <img class="img-responsive img-circle img-sm" src="{{=URL('download', args=auth.user.avatar)}}" alt="{{=T('User avatar')}}">
      <!-- .img-push is used to add margin to elements next to floating images -->
      <div class="img-push">
        {{=form.custom.begin}}
        {{form.elements('#comments_comentario')[0]['_class']='form-control input-sm'}}
        {{form.elements('#comments_comentario')[0]['_placeholder']='Digite um comentário'}}
        {{=form.custom.widget.comentario}}
        {{=form.custom.submit}}
        {{=form.custom.end}}
      </div>
    </form>
  </div>
  {{pass}}
  <!-- /.box-footer -->
</div>
<!-- /.box -->
