{{extend 'layout.html'}}
<h1>Olar {{="%(first_name)s %(last_name)s" %auth.user}}</h1>
{{=form.custom.begin}}<!-- Gera o formulário html para o objeto form-->
<div class="form-group">
    <div class="input-append">
        {{form.elements('#post_corpo')[0]['_class']='form-control mensagem'}}
        {{form.elements('#post_corpo')[0]['_placeholder']='O que ta pegando?'}}
        {{=form.custom.widget.corpo}}
    </div>
    <div class="btn-postar">
        {{=form.custom.submit}}
    </div>

</div>
{{=form.custom.end}}
<hr>
<div class="container">
{{for post in posts:}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <img class='avatar responsive-img' src="{{=URL('download', args=post.created_by.avatar)}}" alt="{{=post.created_by.nome}}" />
            <a href="{{=URL('perfil', vars={'user_id':post.created_by.id})}}">{{=post.created_by.first_name}}</a> digou:
            {{n_comments = 0}}
            {{for c in comentarios:}}
              {{if c.id == post.id:}}
                {{n_comments += 1}}
              {{pass}}
            {{pass}}
            <a class=pull-right href="{{=URL('default', 'post', args=post.id)}}">{{=n_comments}} comentários</a>
        </div>
        <div class="panel-body">
            <p>{{=post.corpo}}</p><br>
            <small>{{=prettydate(post.created_on)}}</small><!-- Data formatada-->
            <p>{{=LOAD('default', 'curtir.load', vars={'id':post.id, 'voto':'legal'}, ajax=True)}}</p>
        </div>
    </div>
{{pass}}
</div>
